.background {
  background-color: rgba(243,249,251,.5);
}

h1 {
  color: black;
  font-size: 1em;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.createForm {
  padding: 80px;
  margin: 10%;
  background-color: #db5555;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.nameListText {
  color: white;
  font-size: 1.5em;
}

.createButton {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.createButton:hover {
  cursor: pointer;
  background-color: #db5555;
  color: white;
}
