.categoryWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category {
  border: 2px solid black;
  height: 270px;
  width: 250px;
  padding: 10px;
  margin: 10px;
}

form {
  padding: 20px;
}
